.navbar {
    width: 100%;
    padding: 1rem 0;
    background-color: #1a1829; /* Adjust as necessary */
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .logo {
    height: 7rem; /* Adjust size as necessary */
    width: auto;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  
  .nav-links li {
    list-style: none;
    margin: 0 1rem;
  }
  
  .nav-links a {
    color: #fff; /* Adjust as necessary */
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #0073b1; /* Adjust as necessary */
  }
  
  .social-media-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
  }
  
  .social-media-icons {
    display: flex;
    gap: 1rem;
  }
  
  .social-media-icons a {
    color: #fff;
    transition: color 0.3s;
  }
  
  .social-media-icons a:hover {
    color: #0073b1;
  }
  